/********** Base styles **********/

/* corresponding to bootstrap xs */
@media (max-width: 767px) {
	#navbar {
	  background-color: aquamarine;
	}
}

#navbar a {
  font-weight: bold;
}

section {
  margin: 15px;
  background-color: lightsteelblue;
}
