/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

section {
  border: 1px solid black;
  background-color: #E8FFFF;
  display: inline-block;
  margin-top: 5px;
  margin-right: 8px;
  margin-bottom: 5px;
  margin-left: 8px;
}

section header {
  border: 1px solid black;
  padding: 2px;
  float: right;
  font-size: 125%;
  font-weight: bold;
}

p {
  margin: 5px;
  float: left;
}

#title1 {
  background-color: red
}
#title2 {
  background-color: orange
}
#title3 {
  background-color: yellow
}


/********** Desktop view **********/
@media (min-width: 992px) {
  .col-lg-3, .col-lg-4, .col-lg-6, .col-lg-12 {
    float: left;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-3, .col-md-4, .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }

/********** Mobile view **********/
@media (max-width: 767px) {
  .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-12 {
    float: left;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-12 {
    width: 100%;
  }

}
